<div class="form-group">
  <%= f.label :description, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_area :description,  rows: '10', class: 'form-control', placeholder: 'Write question description', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :answer, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_area :answer,  rows: '10', class: 'form-control', placeholder: 'Write the answer for question', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :one, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_area :one,  rows: '10', class: 'form-control', placeholder: 'Write false choices', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :two, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_area :two,  rows: '10', class: 'form-control', placeholder: 'Write false choices', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :three, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_area :three,  rows: '10', class: 'form-control', placeholder: 'Write false choices', autofocus: true %>
  </div>
</div>