<div class="form-group">
  <%= f.label :year, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :year, class: 'form-control', placeholder: 'The year in which you will pass out', autofocus: true %>
  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name of user', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :last_name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name of user', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :section, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :section, class: 'form-control', placeholder: 'Name of your Section', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :roll_number, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :roll_number, class: 'form-control', placeholder: 'Your class roll number', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'email', 'Branch', class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :email, class: 'form-control', placeholder: 'Your branch', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :username, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :username, class: 'form-control', placeholder: 'Your unique Username (this will be required during login)', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :password, class: 'form-control', placeholder: 'Your Password (this will be required during login)', autofocus: true %>
  </div>
</div>
