<div class="form-group">
  <%= f.label :year, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :year, class: 'form-control', placeholder: 'The year in which you will pass out', autofocus: true %>
  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name of user', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :last_name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name of user', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :section, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :section, class: 'form-control', placeholder: 'Name of your Section', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :roll_number, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :roll_number, class: 'form-control', placeholder: 'Your class roll number', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :email, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :email, class: 'form-control', placeholder: 'Your primary email address', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :user_mobile, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :user_mobile, class: 'form-control', placeholder: 'Your personal contact number', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :father, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :father, class: 'form-control', placeholder: 'Your Father\'s name', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :father_occupation, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :father_occupation, class: 'form-control', placeholder: 'Your Father\'s occupation', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :father_mobile, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :father_mobile, class: 'form-control', placeholder: 'Your Father\'s contact number', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :mother, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :mother, class: 'form-control', placeholder: 'Your Mother\'s name', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :mother_occupation, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :mother_occupation, class: 'form-control', placeholder: 'Your Mother\'s occupation', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :mother_mobile, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :mother_mobile, class: 'form-control', placeholder: 'Your Mother\'s contact number', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :interests, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :interests, class: 'form-control', placeholder: 'What are your interests or hobbies?', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :goals, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :goals, class: 'form-control', placeholder: 'What are your goals or future plans?', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :skills, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :skills, class: 'form-control', placeholder: 'What is your current skill set?', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :strengths, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :strengths, class: 'form-control', placeholder: 'What are your strengths?', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :weaknesses, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :weaknesses, class: 'form-control', placeholder: 'What are your weaknesses?', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :username, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :username, class: 'form-control', placeholder: 'Your unique Username (this will be required during login)', autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: 'col-sm-2 control-label' %>
  <div class="col-sm-8">
    <%= f.text_field :password, class: 'form-control', placeholder: 'Your Password (this will be required during login)', autofocus: true %>
  </div>
</div>
